<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog into the Void</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="header">
        <div class="headertitle">
            <h1><a href="/">Blog into the Void</a></h1>
        </div>

        <div class="headerbutton">
            <a href="/create"><h2>Create Post</h2></a>
        </div>

        </div>


</body>
</html>